.flx{
	display: flex;
	&-col{
		flex-direction: column;
	}
	&-wrp{
		flex-wrap: wrap;
	}
	&-shr{
		flex-shrink: 0;
	}
	&-jc{
		&-ce{
			justify-content: center;
		}
		&-end{
			justify-content: flex-end;
		}
		&-strt{
			justify-content: flex-start;
		}
		&-sp{
			justify-content: space-evenly;
		}
		&-sb{
			justify-content: space-between;
		}
		&-sa{
			justify-content: space-around;
		}
	}
	&-ai{
		&-ce{
			align-items: center;
		}
		&-end{
			align-items: flex-end;
		}
		&-strt{
			align-items: flex-start;
		}
	}
}

.op{
	&-0{
		opacity: 0;
	}
	&-1{
		opacity: 1;
	}
}

.w{
	&-vw{
		width: 100vw;
	}
	&-100{
		width: 100%;
	}
	&-90{
		width: 90%;
	}
	&-80{
		width: 80%;
	}
	&-50{
		width: 50%;
	}
	&-30{
		width: 30%;
	}
	&-auto{
		width: auto;
	}
	&-0{
		width: 0;
	}
}

.mx{
	max-height: 90%;
}

.h{
	&-vh{
		height: 100vh;
	}
	&-100{
		height: 100%;
	}
	&-90{
		height: 90%;
	}
	&-80{
		height: 80%;
	}
	&-50{
		height: 50%;
	}
	&-30{
		height: 30%;
	}
	&-20{
		height: 20%;
	}
	&-10{
		height: 10%;
	}
	&-h{
		height: 10%;
	}
	&-auto{
		height: auto;
	}
	&-cust{
		height: 50vh;
	}
}

.ovr{
	&-hide{
		overflow: hidden;
	}
	&-xhide{
		overflow-x: hidden;
	}
	&-yhide{
		overflow-y: hidden;
	}
	&-scr{
		&-x{
			overflow-x: scroll;
		}
		&-y{
			overflow-y: scroll;
			scroll-behavior: smooth;
		}
	}
}

.scr{
	&-snp{
		scroll-snap-type: y mandatory;
	}
	&-algn{
		scroll-snap-align: start;
	}	
	&bar{
		scrollbar-width:none;
		&::-webkit-scrollbar{
			display:none;
		}
	}
}

.none{
	display: none;
}.hide{
	visibility: hidden;
}

.p{
	&-50{
		padding:50px;
	}
	&-20{
		padding:20px;
	}
	&-10{
		padding:10px;
	}
	&-15{
		padding:15px;
	}
	&-5{
		padding:5px;
	}
	&-r{
		padding-right: 5%!important;
	}
	&-l{
		padding-left:5%!important;
	}
}

.m{
	&-50{
		margin: 50%;
	}
	&-15{
		margin: 15%;
	}
	&-10{
		margin: 10%;
	}
	&-5{
		margin: 5%;
	}
	&-2{
		margin: 2%;
	}
	&-0{
		margin: 0!important;
	}
	&-r{
		&-15{
			margin-right: 15%;
		}
		&-10{
			margin-right: 10%;
		}
		&-5{
			margin-right: 5%;
		}
		&-2{
			margin-right:2%;
		}
		&-auto{
			margin-right:auto;
		}
	}
	&-l{
		&-15{
			margin-left: 15%;
		}
		&-10{
			margin-left: 10%;
		}
		&-5{
			margin-left: 5%;
		}
		&-2{
			margin-left:2%;
		}
		&-auto{
			margin-left:auto;
		}
	}
	&-t{
		&-15{
			margin-top: 15%;
		}
		&-2{
			margin:2%;
		}
		&-10{
			margin-top: 10%;
		}
		&-5{
			margin-top: 5%;
		}
		&-2{
			margin:0;
			margin-top:2%;
		}
		&-auto{
			margin-top:auto;
		}
	}	
	&-b{
		&-15{
			margin-bottom: 15%;
		}
		&-10{
			margin-bottom: 10%;
		}
		&-5{
			margin-bottom: 5%;
		}
		&-2{
			margin-bottom:2%;
		}
		&-auto{
			margin-bottom:auto;
			
		}
	}
}

.pos{
	&-stck{
		position: sticky;
	}
	&-rel{
		position: relative;
	}
	&-abs{
		position: absolute;
	}
	&-fix{
		position: fixed;
	}
}

.z{
	&-top{
		z-index: 55;
	}
	&-mid{
		z-index: 50;
	}
	&-main{
		z-index: 1;
	}
	&-bg{
		z-index: 0;
	}
	&-neg{
		z-index: -1;
	}
}

.lh{
	&-norm{
		line-height:normal;
	}
}

/* text */

.txt{
	&-al{
		&-ce{
			text-align: center;
		}
		&-r{
			text-align: right;
		}
		&-l{
			text-align: left;
		}
		&-j{
			text-align: justify;
		}
	}
	&-wht{
		color: white;
	}
}

/* Background */

.bg{
	&-main{
		background-image: $bg;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&-glass{
		background-image: $glass;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&-rev{
		background-image: $revBg;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&-pop{
		background-color: $popBg;
	}
	&-img{
		background-image: url('./img/bg.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
	&-wht{
		background-color: white;
	}
}

/* border */

.brd{
	&-wht{
		border:1px solid white;
	}
	&-50{
		border-radius:50px;
	}
	&-15{
		border-radius:15px;
	}
	&-5{
		border-radius:5px;
	}
}

/* button */

.btn{
	&-clr{
		background-image: $bg;
		border:1px solid transparent;
		color:white;
		padding: 10px;
	}&-wht{
		background-color: transparent;
		border:1px solid white;
		color:white;
		padding: 10px;		
	}
}

/* shadw */

.shdw{
	box-shadow: 0 3px 10px 1px rgba(0,0,0,.5);
}

/* animation */

.trans{
	transition: .5s ease-in-out;
}

.fade{
	animation: .5s fade;
}

.pulse{
	 -webkit-animation:pulse 1s infinite;		
	animation: pulse 2s infinite;
}

@keyframes fade {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 100%;
	}
}

@-webkit-keyframes pulse {
	0%{
		-webkit-transform: scale(.9);
		        box-shadow: 0 3px 10px 1px rgba(0,0,0,.5);		
	}
	70%{
		-webkit-transform: scale(1);
		        box-shadow: 0 3px 10px 1px rgba(0,0,0,.2);	
	}
	100%{
		-webkit-transform: scale(.9);
		        box-shadow: 0 3px 10px 1px rgba(0,0,0,.5);			
	}
}
@keyframes pulse {
	0%{
		-webkit-transform: scale(.9);
		        box-shadow: 0 3px 10px 1px rgba(0,0,0,.5);			
	}
	70%{
		-webkit-transform: scale(1);
		        box-shadow: 0 3px 10px 1px rgba(0,0,0,.2);	
	}
	100%{
		-webkit-transform: scale(.9);
		        box-shadow: 0 3px 10px 1px rgba(0,0,0,.5);			
	}
}