$bg:linear-gradient(270deg, #B40353 0%, #BF0A4F 28.65%, #F3323A 74.48%, #F1313B 100%);
$revBg:linear-gradient(88.81deg, #B40353 3.61%, #BF0A4F 25.64%, #E32640 70.21%, #F3323A 97.64%);
$glass:linear-gradient(125.39deg, rgba(255, 255, 255, 0.432) 0.99%, rgba(255, 255, 255, 0) 100%);
$popBg:rgba(0, 0, 0, 0.46);

$mont:'Montserrat', sans-serif;
$rob:'Roboto',sans-serif;
